.vs/
Debug/
Release/
traces/
logs/
Tests/
custom_build/
custom_build_int/

*.tlog
*.lastbuildstate
*.obj
*.iobj
*.ipdb
*.pdb
*.ilk
*.exe
*.idb
*.db
*.stash
/build-ExoMars2020_gui-Desktop_Qt_5_12_0_MSVC2017_32bit-Debug/Makefile
*.Debug
*.Release
/build-ExoMars2020_gui-Desktop_Qt_5_12_0_MSVC2017_32bit-Release/Makefile
